.ribash img{
    border-radius: 24px;
    width: 600px;
    height: 600px;
    padding-left: 64px;
}
.contact h2 {
    padding-top:25px ;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgb(112, 126, 208);
text-align: center;
font-size: 35px;
padding-bottom: 65px;


}
.ribash{
    
    display: grid;
    grid-template-columns: 800px 800px;
    gap: 14px;
    /* justify-content: center; */
   
}

.form-1 form{
    margin-top: 6px;
    width: 500px;
    height: 500px;
    background-color:white;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 12px;
    padding-left: 50px;
    padding: 30px;

}


.form-1 input{
    width: 370px;
    height: 50px;
}
.contact{
    margin-top: 42px;
    background-color: #FFEBAD;
    padding-top:30px ;
    width: 100%;
    height: 800px;
}

label{
    color: black;
    font-size: 20px;
}
textarea{
    padding-top: 22px;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    background-color: #FEB139;
  
}
button:hover{
    background-color: grey;
}

