 b*{
    padding: 0;
    margin: 0;

}

.header{
    padding: 10px;
    background-color:#FEB139;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-radius: 50px;
}
   
.header img {
   height: 60px;
    width: 90px;

  
}



ul li a {
    text-decoration: none; 
    font-size: 25px;
     color: white;
     padding: 10px;
}


ul li {
    display: inline-flex;
   


}

.nav ul li:hover  .dropdown{
 display: block;
 background-color: #FEB139;
 position: absolute;
 /* margin-top: 30px; */
 text-align: center;
} 
.dropdown ul  li {
    display: block;
    padding: 10px;

} 
ul li a:hover{
    color:blue;
}


.dropdown{
    display: none;
    margin-top: 35px;
   
}

.but button { 
     /* padding-bottom: 25px;
    margin-top: 10px; */
    margin-right: 35px; 
    background-color:rgba(135, 186, 135, 0.811);
    width: 100px;
    color:white;
    border-radius: 16px;
    border: none;
    height: 40px;

}
.but button:hover{
    background-color:grey;
    
}
.price1 h3{
font-size: 30px;
}
.item-2 h3{
font-size: 30px;
}

/* 
.food {
font-size:25px;
color:yellow;
padding-top: 5px;
} */

.wrow{
    background-color: rgb(121, 115, 115);
    background-blend-mode: multiply;
    background-size: cover;
    background-image: url(./img/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  animation: slider 9s infinite linear;
 width: 100%;
 height: 100vh;
}
@keyframes slider{
    0%{
background-image: url(./img/maria5.jpg);
    }
    35%{
        background-image: url(./img/maria.jpg);
            }
            75%{
                background-image: url(./img/maria3.jpg);
                    }
}

.alrte{
    display: flex;
   padding-inline:100px;
    
}

.rain{
    margin-top: 144px;
    padding-right: 500px;
   color:white;
    line-height: 30px;
}
.rain h2{
    font-size: 14px;
}
.rain p{
    font-size: 18px;
}
.rain button{
    margin-top: 50px;
    margin-left: 20px;
    width: 250px;
    color: white;
    background-color: orange;
    height: 40px;
    border: none;
    box-shadow: 2px 4px 6px rgb(222, 218, 218);

    
}
.rain button:hover{
    background-color: grey
}
.amount p{
    margin-top: 12px;
    font-size: 32px;
}




/* qeybta sahra  */
.drow{
    background-color: white;
 
}
.parte{
    display: grid;
   grid-template-columns: 700px 700px;
   gap: 44px;
   justify-content: center;
  
    
}
.but img{
     margin-bottom: 20px;
    margin-top: 10px;
    width: 500px;
    height: 500px;
    /* margin-left: 240px; */
    box-shadow: 2px 4px 6px black;
}
.roha{
    margin-top: 144px;
    margin-left: 100px;
    color: black;
    line-height: 30px;
}
.roha  h2{
    font-size: 14px;
}
.roha p{
    font-size: 18px;
}
.roha button{
    margin-top: 50px;
    margin-left: 10px;
    width: 250px;
    color: white;
    background-color: orange;
    height: 40px;
    border: none;
   margin-bottom: 20px;

    
}
.roha button:hover{
    background-color: grey;
}
.arhaz p{
    margin-top: 12px;
    font-size: 32px;
}










/* kan juu */


.grid-container{
    background-color:#FFEBAD;
    padding-bottom: 40px;  
    padding-top: 30px;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 16px;
 
}
.item:hover{
    box-shadow: 2px 4px 15px black;
}
.item img:hover{
    font-size: 30px;
    color: white    ;
    transform: scale(2.6);
    transform: rotate(360deg);  
    transition-delay: 0.6;

}

.item img{
    justify-content: center;
    margin-top: 50px; 
   
}


.item{
    background-color:white;
    border-radius: 20px;
    
    }
    .price h3{
        color: black;
      text-align: center;
      padding-top: 30px;
    } 


.grid h1{
    background-color: rgb(243, 243, 238);
    text-align: center;
    font-size: 70px;
    font-weight: bold;
   
}

.item img{
    width: 170px;
    height: 200px;
    border-radius: 160px;

}
.item-2{
background-color: white;
border-radius: 20px;

}
.item-2:hover{
    box-shadow: 2px 4px 15px black;
}
.price1 h4{
    color: rgb(0, 0, 0);
    padding-top: 15px;

}
/* .price1 h3{
    font-size: 30px;

} */
.price1 button {
    background-color:#f4bc34;
    border:none;
    font-size: 20px;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    color:black;
    margin-top: 25px; 
    margin-bottom: 10px;
    margin-left: 15px;

} 
.price1 button:hover{
    color: white;
    background-color: grey;

}
.grid-container-2 {
    background-color:#FFEBAD;
    margin-bottom: 30px;
    padding-top: 30px;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 16px;
     padding-bottom: 40px;
}
.price h4{
    color: rgb(0, 0, 0);
    padding-top: 35px;
    padding-left: 20px;

}

.item-2 img{
    transition-property: heigh width background-color;
    transition-duration: 0.2s;
    width: 100%;
    height: 300px;
    border-radius: 18px;
   
}
.mari span{
    color: black
       }
    
 .price{
    display: flex;
    margin-left: 6px; 
    color: white;
}
.price h3{
    color: black;
margin-left: 10px;
}
 .price button{
    background-color:#f4bc34;
    border:none;
    font-size: 20px;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    color:white;
    margin-top: 25px; 
    margin-bottom: 10px;
    margin-left: 50px;

} 
.price button:hover{
    color:  black;
    background-color:grey;

}

.hooyo{
    gap: 12px;
    padding-bottom: 33px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    justify-content: center;

}

.contain{
    display: flex;
}
.name{
    margin:20px; 
     margin-bottom: 20px;
    margin-right: 20px; 
} 
 .ilmo{
    background-color:#FEB139;
    border: 2px solid;

}.contain img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 20px;
}.text p{
    margin: 20px;
}

   

h1{
    color:black;
   
}
.icon{
    margin-top: 20px;
    margin-left: 80px;
    font-size: 40px;
}
.name{
    color: green;
    padding-top: 12px  ;
    
}
.name p{
    color: black;
}  
/* qeebta Aboutka */
.mami {
    display: grid;
    grid-template-columns: 500px 600px;
    justify-content: center;
    gap: 20px;
    margin-top: 200px;
    margin-bottom: 150px;
} 
.part1  video{
    height: 350px;
    box-shadow:  2px 4px 10px rgb(55, 54, 54);
}
span{
    color: rgb(163, 17, 17);
}
.part3 h3{
    font-size: 50px;
    margin-bottom: 20px;


}
.part3 p{
   line-height: 20px;
}





   
.rating {
     box-shadow: 5px 6px 10px;
    border: 2px solid;
    background-color:white;
    padding-bottom: 35px;
    border-radius: 20px;
    text-align: center; 
    border: none;
  

  } 
.people img{
    transition-property: heigh width background-color;
    transition-duration: 0.2s;
    /* transform: rotate(360deg);  
    transition-delay: 0.6; */
}
 .people img:hover{
    height: 70px;
    width: 
    100px;
    transform: scale(1.8);
    

}

  .review {
  text-align: center;
  margin: 0%;
  padding: 0%;
  background-color: #FFEBAD;
 padding-bottom: 80px;
 box-shadow: 2px 4px 6px rgb(239, 209, 209);
  }
  .review h4{
    color: black;
    padding-top: 30px;
    font-size: 35px;
  }
  
  .review h2{
    margin-top: 25px;
  color: green;
  font-size: 30px;
  }
  
  .part2 {
   
  display: grid;
    grid-template-columns: 400px  400px  400px;
  text-align: center;
  gap: 16px;
  padding: 20px;
  justify-content: center;
  margin-top: 70px;
  
  } 
  
  .people{
    /* height: 400px;
    width: 100px; */
    display: flex;
    margin-top: 10px;
   
  } 
  .people img {
    height: 60px;
    border-radius: 80px;
    width: 60px;
    margin-left: 10px;
  margin-top: 10px;
  
  }
  .name2 {
    margin-top: 20px;
    margin-left: 6px;
  }
  .naf {
    margin-left: 60px;
    margin-top: 20px;
  }
  .name2.sticar{
    color: red;
  }
  .peopletext{
    text-align:justify;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 30px;
  }
  .name h3{
    color: black;
    font-size: 22px;
} 

/* qeybta contact */

html{
    scroll-behavior: smooth;
}

.ribash img{
    border-radius: 24px;
    width: 600px;
    height: 600px;
    padding-left: 64px;
}
.contact h2 {
    padding-top:25px ;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgb(112, 126, 208);
text-align: center;
font-size: 35px;
padding-bottom: 65px;


}
.ribash{
    
    display: grid;
    grid-template-columns: 800px 800px;
    gap: 14px;
    /* justify-content: center; */
   
}

.form-1 form{
    margin-top: 6px;
    width: 500px;
    height: 500px;
    background-color:white;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 6px 6px 12px;
    padding-left: 50px;
    padding: 30px;

}


.form-1 input{
    width: 370px;
    height: 50px;
}
.contact{
    margin-top: 42px;
    background-color: #FFEBAD;
    padding-top:30px ;
    width: 100%;
    height: 800px;
}

label{
    color: black;
    font-size: 20px;
}
textarea{
    padding-top: 22px;
}
button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    background-color: #FEB139;
  
}
button:hover{
    background-color: grey;
}


/* qebta contact */



.footer{
    padding-left: 120px;
    padding-top: 35px;
  background-color:#FEB139;
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
 gap:10px;
 justify-content:center;
margin-top: 50px;


}
.footer h3{
    /* text-align: center; */
    font-size: 30px;
    padding-bottom: 30px;

   
}
.footer p{
    font-size: 25px;
    padding: 8px;
    
}
.world{
   margin-bottom: 15px;
  font-size: 40px;
   
}
.fol{
    padding-top:  20px;
}
.footer h3:hover {
    color:rgb(0, 0, 128);
 }
  .gift h3:hover{
    color: blue;
}
   .colums h3:hover{
    color:rgb(28, 5, 207);

}
   .world h3:hover{
    color:green;

}
   .world h4:hover{
    color:green;

}
 .gift p:hover{
    color:green;

}
.footer-title p:hover{
    color:green;

}
  .colums p:hover{
    color:green;

}
 .world p:hover{
    color:green;

}
 .fol:hover{
    color:green;
}



@media screen and (max-width: 600px){
     /* .header {
       display: flex;
       flex-direction: vertical;
       width: 100%;
     
    }  */

    .header {
        width: 100%;
        height: 50px;
    } 

    .but button{
        display: none;
    }
 
    ul li a{
        font-size: 18px;
    }
 .dropdown ul{
 
    font-size: 10px;
 }

   .dropdown{
    display: block;
    display: none;
   }
       
        
    .parte{
        display: grid;
        grid-template-columns: 300px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 400px;
    
    }
    .grid-container-2 {
        display: grid;
        grid-template-columns: 400px;
    }

    .mami {
        display: grid;
        grid-template-columns: 400px;
    }

    .part2 {
        display: grid;
        grid-template-columns: 400px;
    }

    .ribash{
        display: grid;
        grid-template-columns:  400px;
    }

    .ribash img{
 
        width: 400px;
        height: 600px;
        
    }

    .form-1 form{

        width: 400px;
        height: 500px;
      
    
    }

    .contact {
        width: 100%;
        height: 1455px;
    }

  
    .footer{
        display: grid;
        grid-template-columns: 400px;
    }
   .footer-title h3:hover {
    color: gray;
 }
  .gift h3:hover{
    color: gray;
}
   .colums h3:hover{
    color: gray;

}
   .world h3:hover{
    color: gray;

}
   .world h4:hover{
    color:green;

}
 .gift p:hover{
    color: gray;

}
.footer-title p:hover{
    color: gray;

}
  .colums p:hover{
    color: gray;

}
 .world p:hover{
    color: gray;

}
 .fol:hover{
    color: gray;
}

}